body{
	color: black;
	background-image: url("myBackground.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
h1{
	background: linear-gradient(to left,skyblue, purple);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
p{
	background: linear-gradient(to left,skyblue, yellow);
	background-repeat: no-repeat;
	background-attachment: fixed;
}