/* Basic solid styles
	none — no border
	hidden — like none, but used in table conflicts
	solid — a single solid line

Dashed / dotted / double
	dotted — a dotted line
	dashed — a dashed line
	double — two solid lines with space between

3D‑style borders
	groove — looks carved into the page
	ridge — opposite of groove, looks raised
	inset — makes the element look sunken
	outset — makes the element look raised */

h1{
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style: double;
	border-left-width: 10px;
	border-left-color: red;
}

#hidden{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: hidden;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#solid{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: solid;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#dotted{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: dotted;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#dashed{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: dashed;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#double{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: double;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#groove{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: groove;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#ridge{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: ridge;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#inset{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: inset;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}

#outset{
	color: black;
	background-color: cyan;
	font-family: 'Arial Narrow', Arial, sans-serif;
	border-style: outset;
	border-width: 9px;
	border-color: gold;
	border-radius: 10px;
	padding: 8px;
}